/* Variables - змінна */

:root {
    --menu-font-color: #828282;
    --background-additional: #F6F6F6;
    --main-font-size: 18px;
    --main-color-text:  #070707;
    --main-font-family: Arial, Helvetica, sans-serif;
}

